@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");
/*VARIABLES MAPAS*/
.tamaño-1 {
  font-size: 4em; }

.tamaño-2 {
  font-size: 3.5em; }

.tamaño-3 {
  font-size: 3em; }

.tamaño-4 {
  font-size: 2.7em; }

.tamaño-5 {
  font-size: 2.3em; }

.tamaño-6 {
  font-size: 2em; }

.tamaño-7 {
  font-size: 1.7em; }

.tamaño-8 {
  font-size: 1.3em; }

.tamaño-9 {
  font-size: 1em; }

/*ESTILOS GENERALES*/
body {
  background-color: #ece9e2;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px; }

.nav-link {
  border-bottom: 3px solid white; }

footer {
  background-color: #9c9787de; }

/*INICIO*/
.main_inicio {
  background-image: url(../img/fondo1.jpg);
  height: 55em;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }
  .main_inicio h1 {
    color: #d42525;
    margin-bottom: 0.5em; }
  .main_inicio p {
    font-family: "Courgette", cursive;
    color: #ece9e2; }

/*NOSOTROS*/
.main_nosotros, .main_catering {
  min-height: 100vh; }
  .main_nosotros img, .main_catering img {
    max-height: 600px; }
  .main_nosotros h2, .main_catering h2 {
    color: #d42525; }
  .main_nosotros p, .main_catering p {
    font-family: "Courgette", cursive; }

/*PRODUCTOS*/
.main_productos .div_producto1, .main_productos .div_producto2, .main_productos .div_producto3 {
  background-image: url(../img/productos1.jpg);
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.main_productos .div_producto2 {
  background-image: url(../img/productos2.jpg); }

.main_productos .div_producto3 {
  background-image: url(../img/productos3.jpg); }

.main_productos h3 {
  color: #d42525; }

.main_productos p {
  font-family: "Courgette", cursive; }

/*CATERING*/
/*CONTACTO*/
.body_contacto {
  height: 100vh; }

.main_contacto {
  background-image: url(../img/contacto-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }
  .main_contacto h1 {
    color: #d42525; }

@keyframes parrafoAnimado {
  from {
    opacity: 0; }
  to {
    opacity: 100; } }

.nav-item :hover {
  color: #d42525;
  border-bottom: 3px solid #d42525; }

.main_nosotros p, .main_catering p {
  animation: parrafoAnimado;
  animation-duration: 2s; }

.main_catering p {
  animation: parrafoAnimado;
  animation-duration: 2s; }

.main_inicio p {
  animation: parrafoAnimado;
  animation-duration: 2s; }

/*@MEDIA*/
@media (min-width: 1024px) {
  .div_producto1, .main_productos .div_producto2, .main_productos .div_producto3, .main_inicio, .main_contacto {
    background-attachment: fixed; } }

@media (min-width: 576px) and (max-width: 1023px) {
  body {
    font-size: 11px; } }

@media (max-width: 575px) {
  body {
    font-size: 10px; }
  .main_inicio div {
    padding-left: 4em;
    padding-right: 4em;
    padding-top: 6em;
    padding-bottom: 6em;
    margin-left: 1em;
    margin-right: 1em; } }
