@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Chonburi&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");
/*VARIABLES MAPAS*/
.tamaño-1 {
  font-size: 4em; }

.tamaño-2 {
  font-size: 3.5em; }

.tamaño-3 {
  font-size: 3em; }

.tamaño-4 {
  font-size: 2.7em; }

.tamaño-5 {
  font-size: 2.3em; }

.tamaño-6 {
  font-size: 2em; }

.tamaño-7 {
  font-size: 1.7em; }

.tamaño-8 {
  font-size: 1.3em; }

.tamaño-9 {
  font-size: 1em; }

/*ESTILOS GENERALES*/
body {
  background-color: #ece9e2;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px; }

.nav-link {
  border-bottom: 3px solid rgba(255, 255, 255, 0); }

footer {
  background-color: #990e31;
  color: #ece9e2; }
  footer a {
    color: #ece9e2; }

/*INICIO*/
.body_inicio {
  background-image: url(../img/fondo1.jpg), url(../img/fondo2.jpg), url(../img/fondo3.jpg), url(../img/fondo4.jpg); }

.nav_inicio {
  background-color: rgba(0, 0, 0, 0.247); }

.main_inicio {
  height: 100vh; }
  .main_inicio h1 {
    color: #b10d36;
    margin-bottom: 0.5em;
    font-family: "Chonburi", cursive; }
  .main_inicio p {
    font-family: "Courgette", cursive;
    color: #ece9e2;
    z-index: 1; }

.footer_inicio {
  background-color: rgba(0, 0, 0, 0.253);
  color: #ece9e2; }
  .footer_inicio a {
    color: #ece9e2; }

@keyframes parrafoAnimado {
  from {
    opacity: 0; }
  to {
    opacity: 100; } }

@keyframes fondoAnimado {
  0% {
    background-image: url(../img/fondo1.jpg); }
  25% {
    background-image: url(../img/fondo2.jpg); }
  50% {
    background-image: url(../img/fondo3.jpg); }
  75% {
    background-image: url(../img/fondo4.jpg); }
  100% {
    background-image: url(../img/fondo1.jpg); } }

@keyframes fondoAnimado2 {
  0% {
    background-image: url(../img/tapa1.jpg); }
  33% {
    background-image: url(../img/tapa2.jpg); }
  66% {
    background-image: url(../img/tapa3.jpg); }
  100% {
    background-image: url(../img/tapa1.jpg); } }

.body_inicio {
  animation: fondoAnimado 25s ease-in-out infinite;
  transition-property: background-image;
  background-size: cover;
  background-repeat: no-repeat; }

.body_contacto {
  animation: fondoAnimado2 25s ease-in-out infinite;
  background-size: cover;
  background-repeat: no-repeat; }

.nav-item :hover {
  color: #b10d36;
  border-bottom: 3px solid #b10d36; }

.main_nosotros p, .main_catering p {
  animation: parrafoAnimado;
  animation-duration: 3s; }

.main_catering p {
  animation: parrafoAnimado;
  animation-duration: 3s; }

.main_inicio p {
  animation: parrafoAnimado;
  animation-duration: 3s; }

/*NOSOTROS*/
.main_nosotros, .main_catering {
  min-height: 100vh; }
  .main_nosotros img, .main_catering img {
    max-height: 600px; }
  .main_nosotros h2, .main_catering h2 {
    color: #b10d36;
    font-family: "Chonburi", cursive; }
  .main_nosotros p, .main_catering p {
    font-family: "Courgette", cursive; }
  .main_nosotros .icono, .main_catering .icono {
    width: 150px;
    height: 150px;
    margin: 10px; }

/*PRODUCTOS*/
.main_productos .div_producto1, .main_productos .div_producto2, .main_productos .div_producto3 {
  background-image: url(../img/productos1.jpg);
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.main_productos .div_producto2 {
  background-image: url(../img/productos2.jpg); }

.main_productos .div_producto3 {
  background-image: url(../img/productos3.jpg); }

.main_productos h3 {
  color: #b10d36;
  font-family: "Chonburi", cursive; }

.main_productos p {
  font-family: "Courgette", cursive; }

.main_productos li {
  font-family: "Courgette", cursive; }

/*CATERING*/
/*CONTACTO*/
.body_contacto {
  background-image: url(../img/tapa1.jpg), url(../img/tapa2.jpg), url(../img/tapa3.jpg), url(../img/tapa1.jpg); }

.nav_contacto {
  background-color: rgba(0, 0, 0, 0.247); }

.main_contacto {
  height: 100vh; }
  .main_contacto h1 {
    color: #b10d36;
    font-family: "Chonburi", cursive; }
  .main_contacto h2 {
    color: #ece9e2;
    font-family: "Courgette", cursive; }

.footer_contacto {
  background-color: rgba(0, 0, 0, 0.253);
  color: #ece9e2; }
  .footer_contacto a {
    color: #ece9e2; }

/*@MEDIA*/
@media (min-width: 1024px) {
  .div_producto1, .main_productos .div_producto2, .main_productos .div_producto3, .main_inicio, .main_contacto, .main_nosotros, .main_catering, .main_catering {
    background-attachment: fixed; } }

@media (min-width: 576px) and (max-width: 1023px) {
  body {
    font-size: 11px; } }

@media (max-width: 575px) {
  body {
    font-size: 10px; }
  .main_inicio div {
    padding-left: 4em;
    padding-right: 4em;
    padding-top: 6em;
    padding-bottom: 6em;
    margin-left: 1em;
    margin-right: 1em; } }
