@keyframes parrafoAnimado {
    from{
        opacity: 0;
    }
    to{
        opacity: 100;
    }
}

nav a:hover{
    color:$color1;
    border-bottom: 3px solid $color1 ;
}

.main_nosotros p{
    animation: parrafoAnimado;
    animation-duration: 2s;
}

.main_catering p{
    animation: parrafoAnimado;
    animation-duration: 2s;
}
.main_inicio p{
    animation: parrafoAnimado;
    animation-duration: 2s;
}