/*CONTACTO*/
/*se agrega los fondos aqui para cargar de antemano las imagenes y evitar un parpadeo por la velocidad de carga de cada una*/
.body_contacto{
    background-image: url(../img/tapa2.jpg), url(../img/tapa3.jpg), url(../img/tapa4.jpg);
}
.nav_contacto{
    background-color: rgba(0, 0, 0, 0.247);
}
.main_contacto{
    min-height: 100vh;
    h1{
        color: $color1;
        font-family: $tipografia2;
    }
    h2{
        color: $color2;
        font-family: $tipografia1;
    }
}
.footer_contacto{
    margin-top: 10px;
    background-color: rgba(0, 0, 0, 0.253);
    color: $color2;
    a{
        color:$color2;
    }
}