/*INICIO*/
.main_inicio{
    background-image: url(../img/fondo1.jpg);
    height: 100vh;
    @include fondo-fixed;
    h1 {
        color: $color1;
        background-color: rgba(255, 241, 224, 0.267);
    }
}
