/*INICIO*/

.body_inicio{
    background-image: url(../img/fondo2.jpg), url(../img/fondo3.jpg), url(../img/fondo4.jpg);
    
}
.nav_inicio{
    background-color: rgba(0, 0, 0, 0.247);
}
.main_inicio{
    height: 100vh;
    h1 {
        color: $color1;
        margin-bottom: 0.5em;
        font-family: $tipografia2;
    }
    p{
        font-family: $tipografia1;
        color: $color2;
        z-index: 1;
    }
}
.footer_inicio{
    background-color: rgba(0, 0, 0, 0.253);
    color: $color2;
    a{
        color:$color2;
    }
}