/*@MEDIA*/
@media (min-width: 1024px){
    .div_producto1{
        background-attachment: fixed;
    }
}
@media (min-width: 576px)and(max-width:1023px){
    body{
        font-size: 11px;
    }
    .body_inicio {
        animation: none;
        background-image: url(../img/fondo3.jpg) ;
    }
    .body_contacto{
        animation: none;
        background-image: url(../img/tapa4.jpg) ;
    }
}
@media (max-width: 575px){
    body{
        font-size: 10px;
    }
    .body_inicio {
        animation: none;
        background-image: url(../img/fondo3.jpg) ;
    }
    .body_contacto{
        animation: none;
        background-image: url(../img/tapa4.jpg) ;
    }
    .main_inicio div{
        padding-left: 4em;
        padding-right: 4em;
        padding-top: 6em;
        padding-bottom: 6em;
        margin-left: 1em;
        margin-right: 1em;
    }  
}
