/*@MEDIA*/
@media (min-width: 1024px){
    .div_producto1, .main_inicio{
        background-attachment: fixed;
    }
}
@media (min-width: 576px)and(max-width:1023px){
    body{
        font-size: 10px;
    }
        

}
@media (max-width: 575px){
    body{
        font-size: 10px;
    }
    .main_inicio div{
        padding-left: 4em;
        padding-right: 4em;
        padding-top: 6em;
        padding-bottom: 6em;
        margin-left: 1em;
        margin-right: 1em;
    }  
}
