/*PRODUCTOS*/
.main_productos{
    .div_producto1{
        background-image: url(../img/productos1.jpg);
        height: 600px;
        @include fondo-fixed;        
    }
    .div_producto2{
        @extend .div_producto1;
        background-image: url(../img/productos2.jpg);
    }
    .div_producto3{
        @extend .div_producto1;
        background-image: url(../img/productos3.jpg);
    }
    h3 {
        color: $color1;
    }
    p {
        font-family: $tipografia1;
    }
}