/*VARIABLES MAPAS*/
$tipografia1: 'Courgette', cursive;
$tipografia2: 'Chonburi', cursive;
$color1:#b60732;
$color2:#ece9e2;
$color3:#990e31;
$fuentes: (
    1: 4em,
    2: 3.5em,
    3: 3em,
    4: 2.7em,
    5: 2.3em,
    6: 2em,
    7: 1.7em,
    8: 1.3em,
    9: 1em,
);
@each $numero_tamaño, $tamaño in $fuentes {
    .tamaño-#{$numero_tamaño}{
        font-size: $tamaño;
    }
}
@mixin fondo-fixed {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}